# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: 'ilakkiyakarthi/bootcamp-demo:$(build.buildId)'

steps:
- script: docker build -t karthi-lakkiya:dev ./app
- task: Docker@1
  displayName: Container registry login
  inputs:
    command: login
    azureSubscriptionEndpoint: demo123
    azureContainerRegistry: devkarthiilakkiya.azurecr.io
- task: Docker@1
  displayName: Build image
  inputs:
    command: build
    dockerFile: app/Dockerfile
    imageName: $(imageName)
- task: Docker@1
  displayName: Push image
  inputs:
    command: push
    containerregistrytype: Container Registry
    dockerRegistryEndpoint: dockerHub
    imageName: $(imageName)